<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- บังคับให้ ASP.NET อ่าน/เขียน/ตอบกลับด้วย UTF-8 เพื่อรองรับภาษาไทย -->
    <globalization
      requestEncoding="utf-8"
      responseEncoding="utf-8"
      fileEncoding="utf-8"
      culture="th-TH"
      uiCulture="th-TH" />
  </system.web>

  <system.webServer>
    <!-- บังคับ IIS ให้ส่ง header Content-Type พร้อม charset=UTF-8 เสมอ -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
    </staticContent>
  </system.webServer>
</configuration>
